# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/
.venv/
.env
.env.*
pip-wheel-metadata/
.coverage
htmlcov/
.pytest_cache/

# OS
.DS_Store

# LaTeX / Report Artifacts
report/*.aux
report/*.log
report/*.out
report/*.fls
report/*.fdb_latexmk
report/*.synctex.gz
